# DEFAULT: "error"
# AVAILABLE: slog.Level*
# ENV: WCS_LOG_LEVEL="..."
# log_level = "..."

[server]

# define the address the server listens on
# DEFAULT: ":8080"
# ENV: WCS_SERVER_ADDRESS="..."
# address = "..."

# define the public key which is used to sign the config request
# DEFAULT: ""
# ENV: WCS_SERVER_PUBLIC_KEY=""
# public_key=""

# define the provider types the server should use
# DEFAULT: ["forge"]
# AVAILABLE: wccs.ProviderType*
# ENV: WCS_SERVER_PROVIDERS="...,..."
# providers=["...", "..."]

# define the source for the fs provider
# DEFAULT: ""
# ENV: WCS_SERVER_PROVIDER_FS_SOURCE="..."
# provider_fs_source="..."

# define the config endpoint
# DEFAULT: "/ciconfig"
# ENV: WCS_SERVER_CONFIG_ENDPOINT="..."
# config_endpoint = "..."

# define the allowed methods for the config endpoint
# DEFAULT: "POST"
# AVAILABLE: http.Method*
# ENV: WCS_SERVER_CONFIG_ENDPOINT_METHODS="...,..."
# config_endpoint_methods = ["...", "..."]
